[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/cu-osc-diamond-template"]
	path = lib/cu-osc-diamond-template
	url = https://github.com/Laguna-Games/cu-osc-diamond-template
[submodule "lib/cu-osc-common-tokens"]
	path = lib/cu-osc-common-tokens
	url = https://github.com/Laguna-Games/cu-osc-common-tokens
[submodule "lib/cu-osc-common"]
	path = lib/cu-osc-common
	url = https://github.com/Laguna-Games/cu-osc-common
